

body {
font-family: 'Roboto', Arial, sans-serif;
font-size: 16px;
line-height: 1.6;
color: #f5f5f5; /*
}


h1, h2, h3, h4, h5, h6 {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 700;
line-height: 1.3;
}


p {
font-weight: 400;
margin-bottom: 1em;
}


a {
font-family: inherit;
font-weight: 500;
text-decoration: none;
}
header { position: sticky; top: 0; z-index: 1000; }

